<!doctype html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head th:include="fragments/header :: header-css">
    <title>403 Error</title>
    <!--<link rel="stylesheet" th:href="@{/css/error.css}">-->
</head>
<body>

<div th:replace="fragments/header :: header"></div>
<div class="container">

    <div class="starter-template">
        <h1>403 - Access is denied</h1>
        <p class="mega"><span class="bola">
        </span></p>
        <div th:inline="text">Hello '[[${#httpServletRequest.remoteUser}]]', you do not have permission to access this page.</div>
    </div>

</div>

<footer th:include="fragments/footer ::footer"></footer>
<script th:src="@{/js/error.js}"></script>
</body>
</html>